Repository torana-us/tfdir: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, ghalint, taplo, shellcheck, shfmt, go

lefthook.yml:

---
pre-commit:
  parallel: true
  commands:
    actionlint:
      root: ".github/workflows/"
      glob: "*.{yml,yaml}"
      run: actionlint {staged_files}
    ghalint:
      root: ".github/workflows/"
      glob: "*.{yml,yaml}"
      run: ghalint run
    typos:
      run: |
        if type -a typos >/dev/null 2>&1; then
          typos --config .typos.toml
        else
          echo "typos is not found."
        fi
    gitleaks:
      run: gitleaks detect -v
    taplo:
      glob: "*.toml"
      run: taplo format {staged_files}
    shellcheck:
      glob: "*.{sh,bash}"
      run: shellcheck -- {staged_files}
    shfmt:
      glob: "*.{sh,bash}"
      run: shfmt -d -s -w -- {staged_files}
    go:
      glob: "*.go"
      run: |
        make lint

ci: 🎡 remove stale comments
  .github/workflows/wc-shellchecker.yml
Due: actionlint, ghalint

ci: 🎡 install typos
  aqua.yaml
Due: none

style: 💄 apply shellcheck
  installer.sh
Due: shellcheck, shfmt

Update renovate.json
  renovate.json
Due: none

ci: 🎡 use automerge
  renovate.json
Due: none

ci: 🎡 set timeout
  .github/workflows/go_test.yml
  .github/workflows/linters.yml
  .github/workflows/release.yml
  .github/workflows/wc-ghalint.yml
  aqua.yaml
Due: actionlint, ghalint

ci: 🎡 release without tag push
  .github/workflows/release.yml
Due: actionlint, ghalint

fix: 🐛 set release-drafter.yml
  .github/release-drafter.yml
Due: none

ci: 🎡 use goreleaser for build assets
  .github/workflows/release.yml
Due: actionlint, ghalint

fix: 🐛 --rm-dist is deprecated
  .github/workflows/release.yml
Due: actionlint, ghalint

ci: 🎡 actionlint
  aqua.yaml
Due: none

docs: ✏️ add Dev to README
  README.md
Due: none

ci: 🎡 no run without update *.go
  .github/workflows/go_test.yml
Due: actionlint, ghalint

Revert "chore(deps): update tj-actions/changed-files digest to 0e58ed8"
  .github/workflows/linters.yml
Due: actionlint, ghalint

chore: golangci-lint migrate
  .golangci.yml
Due: none

style: yamllint
  .golangci.yml
Due: none

fix: ghalint
  .github/workflows/actionlint.yml
  .github/workflows/go_test.yml
  .github/workflows/release.yml
  .github/workflows/wc-ghalint.yml
  .github/workflows/wc-gitleaks.yml
  .github/workflows/wc-markdownlint.yml
  .github/workflows/wc-shellchecker.yml
  .github/workflows/wc-taplo.yml
  .github/workflows/wc-typos.yml
  .github/workflows/wc-yamllint.yml
Due: actionlint, ghalint
